<script id="front1" type="text/html" container="uno">

  {{#a_elems}}
  <h2>{{title}} <img src="{{image}}"/></h2>
  <p>{{body}}</p>
  {{/a_elems}}

</script>
<script id="sample_template2" type="text/html" container="dos">
  <h2>{{b_elems.title}} <img src="{{b_elems.image}}"/></h2>
  <p>{{b_elems.body}}</p>


</script>
